Source: mpristester
Section: devel
Priority: extra
Maintainer: Andrzej Bieniek <andyhelp@gmail.com>
Build-Depends: debhelper (>= 8.0.0), cmake (>= 2.8.0), libqt4-dev (>= 4.6)
Standards-Version: 3.9.2
Homepage: https://github.com/randomguy3/mpristester
Vcs-Git: git://github.com/andyhelp/pkg-mpristester.git
Vcs-Browser: https://github.com/andyhelp/pkg-mpristester

Package: mpristester
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: MPRIS2 test tool
 Simple tool to test the MPRIS2 interface of media players.
